@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins.scss" as *;

.warehouseform {
  display: flex;
  flex-direction: column;
  margin: 1.6rem;

  &-header {
    display: flex;
    align-items: center;
    width: 100vw;
    padding: 1rem 0;
    margin-left: -1.6rem;
    border-bottom: 0.1rem solid gray;

    &-link {
      display: flex;
      align-items: center;
      margin-left: 1.6rem;
    }
    &__text {
      margin: 0;
      margin-left: 0rem;
    }
  }

  &-main {
    display: flex;
    flex-direction: column;

    &-warehouse,
    &-contact {
      display: flex;
      flex-direction: column;

      &-inputs,
      &-input {
        display: flex;
        flex-direction: column;
      }
    }
  }

  &-buttons {
    display: flex;
    justify-content: space-between;
    margin: 1.5rem 0;
    button {
      display: flex;
      justify-content: center;
      width: 48%;
    }
  }
}
