@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.warehouseform {
  display: flex;
  flex-direction: column;
  margin: 1.6rem;

  &-header {
    display: flex;
    align-items: center;
    padding: 1rem 0;
    margin: 0 -1.6rem;
    border-bottom: 0.1rem solid gray;

    &-link {
      display: flex;
      align-items: center;
      margin-left: 1.6rem;
    }
    &__text {
      margin: 0;
      margin-left: 0.3rem;
    }

    @include tablet {
      margin-left: -3.2rem;

      &-link {
        margin-left: 3.2rem;
      }
    }
  }

  &-main {
    display: flex;
    flex-direction: column;

    &-warehouse,
    &-contact {
      display: flex;
      flex-direction: column;

      &-inputs,
      &-input {
        display: flex;
        flex-direction: column;
      }

      &-input {
        margin-bottom: 1.6rem;
      }

      &__line {
        margin: 0 -1.6rem;
      }

      &__title {
        margin: 1.6rem 0;
      }
      @include tablet {
        width: 48%;
      }
    }

    @include tablet {
      flex-direction: row;
      justify-content: space-between;

      &-warehouse {
        padding-right: 1rem;
        margin: 1.6rem 0;
        border-right: 0.1rem solid $cloud;

        &__title {
          margin: 0 0 1.6rem;
        }

        &__line {
          display: none;
        }
      }
      &-contact {
        padding-right: 1rem;
        margin: 1.6rem 0 0 1.6rem;
        &__title {
          margin: 0 0 1.6rem;
        }
      }
    }

    @include desktop {
      &-warehouse,
      &-contact {
        padding-right: 2.6rem;
      }
    }
  }

  &-buttons {
    display: flex;
    justify-content: space-between;
    margin: 0 -1.6rem -1.6rem;
    padding: 1.6rem 0;
    background-color: $lightGrey;
    button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 48%;
      height: 1.6rem;
      border-radius: 2rem;
      border: 0.1rem solid $cloud;
      padding: 1.6rem 0;
      @include tablet {
        display: flex;
        width: fit-content;
        padding: 1.6rem;
      }
    }
    &__save {
      background-color: $instock-Indigo;
      color: white;
      @include tablet {
        margin-right: 1.6rem;
      }
      @include desktop {
        margin-right: 3rem;
      }
    }
    &__cancel {
      background-color: white;
      font-weight: 600;
      @include tablet {
        margin-right: 1rem;
      }
    }
    @include tablet {
      justify-content: flex-end;
      margin: 0 -3.2rem -3.2rem;
    }
  }

  * input {
    height: 1.6rem;
    padding: 1.6rem;
    border-radius: 2rem;
    border: 0.1rem solid $cloud;
  }
  *p {
    margin: 0;
    font-weight: 600;
    margin-bottom: 0.2rem;
  }

  @include tablet {
    margin: 3.2rem;
  }

  @include desktop {
  }
}

.squarecontent {
  margin: 1.6rem;
  border: 0.1rem $cloud solid;
  border-radius: 0.2rem;
  @include tablet {
    margin: 3.2rem;
  }
}
