img {
  max-width: 100%;
}

p {
  margin: 0;
  @include tablet {
    font-size: 1.2rem;
  }
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
}
li {
  list-style-type: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin: 0 16px;

  @include tablet {
    margin: 0 32px;
  }

  @include desktop {
    max-width: 1020px;
    margin: 0 auto;
  }
}

body {
  background: #F7F8F9;
}
