$instockBlack: #13182c;
$instock-Indigo:#2e66e5;
$slate:#5c667e;
$graphite:#232940;
$green:#158463;
$cloud:#bdc5d5;
$lightGrey:#f7f8f9;
$red:#c94515;

$fontMobile-h1:2.8rem;
$fontMobile-h2:2rem;
$fontMobile-h3:1.3rem;
$fontMobile-h4:1.1rem;
$fontMobile-bodyL:1.5rem;
$fontMobile-bodyM:1.3rem;
$fontMobile-bodyS:1.1rem;

$fontTablet-h1:3.2rem;
$fontTablet-h2:2.4rem;
$fontTablet-h3:1.4rem;
$fontTablet-h4:1.2rem;
$fontTablet-bodyL:1.6rem;
$fontTablet-bodyM:1.4rem;
$fontTablet-bodyS:1.2rem;