.warehouse-show {
  margin: 0rem 1.6rem;
  margin-top: -6.4rem;
  background-color: #fff;
  box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
  border-radius: 3px;

  @include tablet {
    margin: 0rem 3.2rem;
    margin-top: -9.4rem;
  }

  @include desktop {
    margin: 0rem auto;
    margin-top: -9.4rem;
    max-width: 1020px;
  }
}

.warehouse-show__title {
  display: flex;
  align-content: center;
  padding: 2.4rem;
  padding-top: 2.4rem;
  font-size: 28px;
  font-weight: 600;
  line-height: 36px;
  color: #13182C;

  @include tablet {
    padding: 3.2rem;
    padding-bottom: 2.1rem;
    font-size: 32px;
    line-height: 40px;
  }

  @include desktop {
    padding-right: 4rem;
    padding-left: 4rem;
  }
}

.warehouse-show__link {
  display: flex;
  align-items: center;
  margin-right: 0.8rem;
}
