

.invitem {
  @include desktop {
    width: 102rem;
    margin: 0 auto;
  }

  &__container {
    padding: 1.6rem;

    @include flex(row);
    justify-content: space-between;
    align-items: center;
    @include tablet {
      padding: 1.6rem 3.2rem;
    }
  }

  &__container-header {
    font-size: $fontMobile-h1;
    display: inline-block;
    @include tablet {
      font-size: $fontTablet-h1;
    }
  }

  &__container-form {
    @include flex(row);
    align-items: center;
    // @include tablet {
    //   @include flex(row);
    // }
  }

  &__container-search {
    margin-top: 1.6rem;
    @include tablet {
      margin-top: 0;
    }
  }

  &__container-back {
    &--mobile {
      margin-top: 1.6rem;
      @include tablet {
        display: none;
      }
    }

    &--tablet {
      display: none;
      @include tablet {
        display: flex;
        align-items: center;
      }
    }
  }

  &__subheading {
    font-size: $fontMobile-h4;
    color: $slate;
    @include tablet {
      // display: none;
    }
  }

  &__sort {
    height: 1.6rem;
  }

  &__inventory {
    // @include flex(column);
    border-top: 0.1rem solid $cloud;
    padding: 1.6rem;
    @include tablet {
      padding: 1.6rem 3.2rem;
    }

    &--flex {
      @include flex(column);
      // align-items: center;
      justify-content: space-between;
      gap: 1.6rem;
      @include tablet {
        gap: 2.4rem;
        @include flex(row);
      }
    }

    &--details {
      @include flex(column);
    }

    &--details2 {
      // @include tablet {
      //   @include flex(row);
      // }
      @include flex(row);
      flex-wrap: wrap;
    }

    &--mobile {
      width: 50%;
    }

    &--options {
      height: 2.4rem;
    }
  }

  &__item {
    @include flex(row);
    align-items: center;
  }

  &__item-name {
    font-size: $fontMobile-bodyM;
    color: $instockBlack;
    @include tablet {
      font-size: $fontTablet-bodyM;
    }
  }

  &__item-text {
    font-size: $fontMobile-bodyM;
    @include tablet {
      font-size: $fontTablet-bodyM;
    }
  }

  &__item-status {
    &--out {
      @include flex(row);
      align-items: center;
      text-transform: uppercase;
      font-size: $fontMobile-h4;
      height: 2.4rem;
      padding: 0 0.8rem;
      border-radius: 2rem;
      background-color: rgba(201, 69, 21, 0.07);
      color: $red;
      @include tablet {
        font-size: $fontTablet-h4;
        height: 2.6rem;
      }
    }
    &--in {
      @include flex(row);
      align-items: center;
      text-transform: uppercase;
      font-size: $fontMobile-h4;
      height: 2.4rem;
      padding: 0 0.8rem;
      border-radius: 2rem;
      background-color: rgba(21, 132, 99, 0.07);
      color: $green;
      @include tablet {
        font-size: $fontTablet-h4;
        height: 2.6rem;
      }
    }
  }
}
