.warehouse {
  border-bottom: 0.1rem solid $cloud;
  padding: 0 1.6rem;
  max-width: 100%;

  &:hover {
    background-color: rgba(46, 102, 230, 0.07);
  }

  &__delete,
  &__icons__tablet--delete {
    cursor: pointer;
  }
  @include tablet {
    padding: 1rem 3.2rem;
    display: flex;
    align-items: center;
  }

  &-container {
    display: flex;
    justify-content: space-between;
    border-radius: 0.5rem solid $cloud;
    @include tablet {
    }

    @include desktop {
      overflow: hidden;
    }
    &__para {
      margin: 0;
      font-size: 1.1rem;

      @include tablet {
        font-size: 1.2rem;
      }
    }

    &__title {
      font-size: 1.1rem;
      color: $slate;
      margin-top: 2rem;
      @include tablet {
        font-size: 1.2rem;
        margin: 1rem 0;
      }
    }

    &__left {
      @include tablet {
        display: flex;
        justify-content: space-between;
      }
    }
    &__right {
      @include tablet {
        display: flex;
      }
    }

    &__name {
      @include tablet {
        width: 12.9vw;
      }

      @include desktop {
        width: 10vw;
        max-width: 100%;
      }
      &__chevron a {
        display: -webkit-inline-box;
        align-items: center;
      }
      &__chevron__img {
        width: 2rem;
      }
      &__details {
        color: $instock-Indigo;
        font-weight: 600;

        @include tablet {
        }

        &:hover {
          text-decoration: underline;
        }
      }
    }

    &__address {
      @include tablet {
        display: flex;
      }
      &__title {
        margin-top: 0.6rem;
        @include tablet {
          margin-top: 2rem;
        }
      }
      &__box {
        @include tablet {
          width: 22vw;
        }
        @include desktop {
          width: 20vw;
          max-width: 100%;
        }
      }
      &__details {
        @include tablet {
          width: 11rem;
          margin: 0;
        }

        @include desktop {
          width: none;
        }
      }
    }

    &__contact {
      @include tablet {
        width: 15.5vw;
        max-width: 100%;
      }

      &__details {
        margin-left: 1rem;

        @include tablet {
          margin-left: 0;
        }
      }
    }

    &__info {
      @include tablet {
        width: 21vw;
      }

      @include desktop {
        width: 16vw;
        max-width: 100%;
      }
    }

    &__name__title,
    &__address__title,
    &__contact__title,
    &__info__title {
      @include tablet {
        display: none;
      }
    }
  }

  &__icons {
    display: flex;
    justify-content: space-between;
    padding-bottom: 2rem;
    margin-top: 2rem;

    &__delete {
      margin-right: 2rem;
    }
  }

  &-tablet {
    max-width: 100%;
    display: flex;
    padding: 0 3.2rem;
    margin: 0;
    background-color: $lightGrey;
    @include desktop {
      overflow: hidden;
    }

    &__img {
      width: 2rem;
    }

    &__block {
      display: none;
      @include tablet {
        display: flex;
        align-items: center;
        &--warehouse {
          width: 13vw;
          @include desktop {
            width: 10.5vw;
          }
        }
        &--address {
          width: 21.5vw;
          @include desktop {
            width: 19.5vw;
          }
        }

        &--contact {
          width: 16vw;
          @include desktop {
            width: 15.5vw;
          }
        }
        &--info {
          width: 22vw;
          @include desktop {
            width: 17vw;
          }
        }
      }
    }
  }
}
