@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

p {
  margin: 0;
  @include tablet {
    font-size: 1.2rem;
  }
}
.warehouse {
  display: flex;
  justify-content: space-between;

  @include tablet {
    padding: 2rem 3.2rem;
    border-bottom: 0.1rem solid $cloud;
    align-items: center;
  }
  &__wrapper {
    @include tablet {
      display: flex;
      //   justify-content: space-between;
    }
    &--left {
      @include tablet {
        // flex-grow: 1;
      }
    }
    &--right {
      @include tablet {
        flex-grow: 1;
      }
    }
  }
  &__container {
    padding: 0 1.6rem;

    @include tablet {
      padding: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &--address {
      @include tablet {
        width: 25%;
      }
    }
  }

  &__subtitle {
    margin-bottom: 0.5rem;

    @include tablet {
      display: none;
      font-size: 1.2rem;
      font-weight: 400;
    }
  }
  &__location {
    color: $instock-Indigo;
    font-weight: 600;
    @include tablet {
        margin-right: 9rem;
    }
  }

  &__items {
    @include tablet {
      width: 20%;
    }
  }

  &__name{
    margin-right: 10rem;
  }

  &__contact {
    @include tablet {
      display: flex;
      flex-direction: column;
    }
  }


  &__icons {
    display: flex;
    justify-content: space-between;
    padding: 0 1.6rem 2rem 1.6rem;
    margin-top: 2rem;
    border-bottom: 0.1rem solid $cloud;

    @include tablet {
      display: none;
    }
  }

  &__icons__tablet {
    display: none;

    @include tablet {
      display: block;
    }
  }
}

.warehouse__tablet {
  display: none;
  @include tablet {
    display: flex;
    padding: 0 3.2rem;
    justify-content: space-between;
    background-color: $lightGrey;
  }
  &__tablet__subtitle {
    @include tablet {
    }
  }
}
