.wil-overlay {
  margin-top: -64px;
  @include tablet {
    margin-top: -94px;
  }
  border: 0.1rem solid $lightGrey;
  border-radius: 5px;
}

.wil {
  background-color: white;
  box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);

  @include tablet {
    bottom: 9.5rem;
  }

  @include desktop {
    width: 102rem;
    margin: 0 auto;
  }

  &__header {
    display: none;

    @include tablet {
      padding: 1.1rem 3.2rem;
      color: $slate;
      background-color: $lightGrey;
      @include flex(row);
      justify-content: space-between;

      &--flex {
        @include flex(row);
        align-items: center;
      }
    }

    &--title {
      font-size: $fontTablet-h4;
    }
  }

  &__subheading {
    font-size: $fontMobile-h4;
    color: $slate;
    margin-top: 1.6rem;
    @include tablet {
      display: none;
    }
  }

  &__sort {
    height: 1.6rem;
  }

  &__inventory {
    @include flex(column);
    border-top: 0.1rem solid $cloud;
    padding: 0rem 2.4rem 1.6rem;
    @include tablet {
      @include flex(row);
      justify-content: space-between;
      padding: 1.6rem 3.2rem;
    }

    &:first-child {
      border-top: none;
    }

    &:hover {
      background-color: rgba(46, 102, 230, 0.07);
    }

    &--flex {
      @include flex(row);
      align-items: center;
      justify-content: space-between;
      gap: 1.6rem;
      @include tablet {
        gap: 2.4rem;
        // width: 100%;
      }
    }

    &--details {
      width: 50%;
      @include tablet {
        @include flex(row);
      }
    }

    &--options {
      height: 2.4rem;
      cursor: pointer;
      margin-top: 1.6rem;
      @include tablet {
        margin: 0;
      }
    }
  }

  &__item {
    @include flex(row);
    align-items: center;
  }

  &__item-name {
    font-size: $fontMobile-h3;
    color: $instock-Indigo;
    @include tablet {
      font-size: $fontTablet-h3;
    }
  }

  &__item-text {
    font-size: $fontMobile-bodyM;
    @include tablet {
      font-size: $fontTablet-bodyM;
    }
  }

  &__item-status {
    &--out {
      @include flex(row);
      align-items: center;
      text-transform: uppercase;
      font-size: $fontMobile-h4;
      height: 2.4rem;
      padding: 0 0.8rem;
      border-radius: 2rem;
      background-color: rgba(201, 69, 21, 0.07);
      color: $red;
      margin-top: 0.4rem;
      width: fit-content;

      @include tablet {
        font-size: $fontTablet-h4;
        height: 2.6rem;
        margin-top: 0;
      }
    }
    &--in {
      @include flex(row);
      align-items: center;
      text-transform: uppercase;
      font-size: $fontMobile-h4;
      height: 2.4rem;
      padding: 0 0.8rem;
      border-radius: 2rem;
      background-color: rgba(21, 132, 99, 0.07);
      color: $green;
      margin-top: 0.4rem;
      width: fit-content;
      @include tablet {
        font-size: $fontTablet-h4;
        height: 2.6rem;
        margin-top: 0;
      }
    }
  }
}

.wiltab1 {
  @include tablet {
    width: 100%;
  }
}

.wiltab2 {
  @include tablet {
    width: 36%;
    justify-content: space-between;
  }
}
.wiltab3 {
  @include tablet {
    width: 30%;
    justify-content: space-between;
    margin-right: 15%;
  }
  @include desktop {
    margin-right: 14rem;
  }
}
