.page-header {
  background-color: $graphite;
  margin: 0rem;
  padding: 0rem 1.6rem;
  padding-top: 1.6rem;
  height: 20rem;

  @include tablet {
    padding: 0rem 3.2rem;
    padding-top: 1.6rem;
    height: 18.6rem;
    display: flex;

  }

  @include desktop {
    max-width: 100%;
    padding: 0rem 8rem;
  }
  
  &__logo {
    display: flex;
    justify-content: center;
    margin-bottom: 1.6rem;
    width: 100%;

    @include tablet {
      width: max-content;
      margin: 0rem;
      margin-right: auto;
      
    }
  }
}
