@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/resets" as *;
@use "../../styles/partials/mixins" as *;

a {
  text-decoration: none;
  color: black;
}
.warehouses {
  &__form {
    display: flex;
    flex-direction: column;
    border-bottom: 0.1rem solid $cloud;
    padding: 0 1.6rem;
  }

  &__title {
    font-size: $fontMobile-h1;
    margin: 2rem 1.6rem;
  }

  &__input,
  &__button {
    @include inputMobile;
  }

  &__input {
    background-image: url(../../assets/icons/search-24px.svg);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: center;
    margin-bottom: 2rem;
    border: 0.1rem solid $cloud;
  }

  &__button {
    border: none;
    color: white;
    background-color: $instock-Indigo;
    margin-bottom: 2rem;
  }
}
